<div class="container ">
    <div class="about-container ">
        <!-- <h1 class="display-4">About Me</h1> -->
        <p class="lead">My name is mari I live in georgia-tbilisi,I like traveling</p>
        <p>SpaceX continues to be a font of inspiration for Chinese aerospace engineers.
            At least one Chinese company is already working to create its own version of SpaceX's workhorse Falcon 9, 
            which has launched more than 100 orbital missions this year. 
            And it was revealed this week that China's next-gen heavy lifter, the Long March 9, 
            will look a lot like SpaceX's Starship megarocket, 
            at least in one of its planned configurations.
            
            Engineers unveiled the latest Long March 9 design at the 15th China Air Show in Zhuhai. 
            According to a presentation at the show, the big, two-stage rocket — which will launch astronauts to the moon, 
            among other tasks — will come in at least three versions, one of which is fully reusable, just like Starship.</p>
        <hr class="my-4">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img [src]="imageUr2" class="img-fluid" alt="Image 3">
      </div>
      <div class="col-md-3">
        <img [src]="imageUr2" class="img-fluid" alt="Image 3">
      </div>
      <div class="col-md-3">
        <img [src]="imageUr2" class="img-fluid" alt="Image 3">
      </div>
      <div class="col-md-3">
        <img [src]="imageUr2" class="img-fluid" alt="Image 3">
      </div>
    </div>
  </div>

  <hr class="my-4">
<p class="lead">
    Last month, an asteroid impacted Earth's atmosphere just hours after being detected —  somehow, 
    it managed to circumvent impact monitoring systems during its approach to our planet. 
    However, on the bright side, the object measured just 3 feet (1 meter) in diameter and 
    posed very little threat to anything on Earth's surface. 
</p>

    </div>
</div>